.company-inside {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    >p {
        font-family: 'Gotham Pro Bold';
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 80px 0 40px 0;
    }
}

.ceo-inside {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    >p {
        font-family: 'Gotham Pro Bold';
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    >div {
        >p:nth-child(1) {
            font-family: 'Gotham Pro Bold';
            font-size: 32px;
            line-height: 140%;
            margin: 0 0 8px 0;
        }
        >p:nth-child(2) {
            font-family: 'Gotham Pro';
            font-size: 20px;
            line-height: 140%;
            color: #333333;
            margin: 0 0 32px 0;
        }
        ul {
            li {
                font-family: 'Gotham Pro';
                font-size: 16px;
                line-height: 160%;
                color: #333333;
                margin: 0 0 16px 0;
            }
        }
        >p:nth-child(4) {
            font-family: 'Gotham Pro';
            font-size: 16px;
            line-height: 160%;
            color: #333333;
            width: 94%;
        }
    }
}

#qwerty {
    display: grid;
    align-items: center;
    grid-template-columns: 2.5fr 1fr;
}

.ceo-right {
    >img {
        width: 100%;
        height: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    >img:hover {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

.ceo {
    margin-top: 200px;
    >div:nth-child(2) {
        padding: 64px 0 90px 0;
        background: #FAFCFF;
    }
}

.ceo-ul {
    list-style-type: inherit;
    margin-left: 20px;
    width: 90%;
}

.certificate-wrapper {
    margin-top: 224px;
}

.certificate-inside {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    >p {
        font-family: 'Gotham Pro Bold';
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    >div {
        width: 100%;
        height: 590px;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-gap: 50px;
        >div {
            height: 590px;
            width: 100%;
            >div {
                >img {
                    width: 100%;
                    height: 590px;
                    object-fit: cover;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
            }
            >div:hover {
                >img {
                    -webkit-transform: scale(1.04);
                    transform: scale(1.04);
                }
            }
            p {
                font-family: 'Gotham Pro SemiBold';
                font-size: 16px;
                line-height: 145%;
                text-align: center;
                color: #333333;
            }
        }
    }
}

#p1 {
    height: 570px;
    background: url('../../../img/c1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#p2 {
    height: 570px;
    background: url('../../../img/c2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#p3 {
    height: 570px;
    background: url('../../../img/c3.svg');
    background-repeat: no-repeat;
    background-size: 102% 101%;
}

@media only screen and (min-width: 767px) and (max-width: 1400px) {
    .company-inside {
        >p {
            font-size: 22px;
            margin: 40px 0 20px 0;
        }
    }
    .ceo {
        margin-top: 80px;
        >div:nth-child(2) {
            padding: 70px 0 40px 0;
        }
    }
    .ceo-inside {
        >p {
            font-size: 22px;
            margin: 0 0 80px 0;
        }
        >div {
            >p:nth-child(1) {
                font-size: 24px;
            }
            >p:nth-child(2) {
                font-size: 18px;
            }
        }
    }
    #qwerty {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-content: start;
    }
    .ceo-right {
        height: 50vw;
        width: 43%;
        grid-row: 1;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ceo-left {
        height: auto;
        margin-top: 2vh;
    }
    .certificate-wrapper {
        margin-top: 80px;
    }
    .certificate-inside {
        text-align: center;
        >p {
            font-size: 22px;
            margin: 0 0 40px 0;
        }
        >div {
            grid-template-columns: 1fr;
            height: auto;
            grid-gap: 48px;
            >div {
                height: auto;
                >div {
                    height: auto;
                    >img {
                        width: auto;
                        height: 50vw;
                    }
                }
                >p {
                    width: 60%;
                    max-width: 420px;
                    margin: 16px auto 0 auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .company-inside {
        >p {
            font-size: 18px;
            margin: 24px 0 16px 0;
        }
    }
    .ceo {
        margin-top: 40px;
        >div:nth-child(2) {
            padding: 16px 0 8px 0;
        }
    }
    .ceo-inside {
        >p {
            font-size: 18px;
            margin-bottom: 24px;
        }
        >div {
            >p:nth-child(1) {
                font-size: 20px;
            }
            >p:nth-child(2) {
                font-size: 16px;
            }
            ul {
                li {
                    font-size: 14px;
                }
            }
            >p:nth-child(4) {
                font-size: 14px;
            }
        }
    }
    #qwerty {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .ceo-right {
        grid-row: 1;
        width: 100%;
        height: 50vw;
        object-fit: cover;
        >img {
            width: auto;
            height: 50vw;
        }
    }
    .ceo-left {
        margin-top: 2.4vh;
    }
    .certificate-wrapper {
        margin-top: 40px;
    }
    .certificate-inside {
        text-align: center;
        >p {
            font-size: 18px;
            margin: 0;
        }
        >div {
            height: auto;
            margin: 20px auto 0 auto;
            grid-template-columns: auto;
            grid-gap: 24px;
            justify-content: center;
            >div {
                height: auto;
                width: auto;
                >div {
                    margin: 0 auto;
                    height: auto;
                    >img {
                        width: auto;
                        height: 90vw;
                        object-fit: fill;
                    }
                }
                >p {
                    width: 100%;
                    max-width: 300px;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
    #p1,
    #p2,
    #p3 {
        height: 423px;
    }
}