html,
body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    height: 5vw;
    border-bottom: 1px solid #F2F2F2;
}

.header-inside {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 130px 380px 690px;
    grid-template-columns: 9vw 26vw 46.85vw;
    justify-content: space-between;
    grid-template-rows: 1fr;
}

.header-logo-block {
    display: flex;
    align-items: center;
    >a {
        >div {
            margin-right: 46px;
        }
    }
}

.header-info {
    display: flex;
    border-left: 1px solid #F2F2F2;
    justify-content: space-between;
    height: 5vw;
    justify-content: space-around;
    div {
        >p {
            font-family: 'Gotham Pro';
            font-size: 0.93vw;
            // font-size: 14px;
            line-height: 140%;
            color: #999;
            margin: 19px 0 4px 0;
            // margin: 19px 0 4px 0;
        }
        >span {
            font-family: 'Gotham Pro Light';
            font-size: 1.1vw;
            line-height: 140%;
        }
    }
    >div:nth-child(1) {
        // margin: 0 27px 0 49px;
        margin: 0 1.5vw 0 2vw;
    }
    >div:nth-child(2) {
        margin: 0 2vw 0 1vw;
    }
}

.desktop-menu {
    display: flex;
}

.header-menu {
    display: flex;
    align-items: center;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    nav {
        margin-left: 3vw;
        .a {
            font-family: 'Gotham Pro';
            font-size: 0.9vw;
            letter-spacing: 0.03em;
            line-height: 13px;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            margin-right: 3vw;
        }
        .active {
            font-family: 'Gotham Pro';
            font-size: 0.9vw;
            letter-spacing: 0.03em;
            line-height: 13px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 3vw;
        }
        .a:hover,
        .active:hover {
            cursor: pointer;
            color: #21C69E;
            transition: 300ms ease-out;
        }
    }
}

.header-lang {
    padding-left: 40px;
    display: block;
    >p {
        font-family: 'Gotham Pro';
        font-size: 0.9vw;
        line-height: 140%;
        color: #999;
        margin: 17px 0 4px 0;
    }
    >div {
        width: 5.8vw;
        display: flex;
        justify-content: space-between;
        >span {
            font-family: 'Gotham Pro';
            font-size: 1.1vw;
            line-height: 150%;
        }
        >span:hover {
            cursor: pointer;
        }
        .active {
            color: #21C69E;
            transition: 300ms ease-out;
        }
    }
}

.hamburger {
    display: none;
}

.hide {
    display: none;
}

.hidden-menu {
    display: none;
}

.hidden_nav {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .desktop-menu {
        display: none;
    }
    .header-logo-block {
        >a {
            >div {
                width: 102px;
                >svg {
                    width: 102px;
                    height: 37px;
                }
            }
        }
    }
    .header-wrapper {
        height: 72px;
    }
    .header-inside {
        grid-template-rows: 82px auto auto;
        grid-template-columns: 0.5fr 3fr 1fr;
        justify-content: center;
    }
    .hidden-menu {
        display: block;
        font-family: 'Gotham Pro Light';
        font-size: 64px;
        line-height: 61px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F0F0F0;
    }
    .header-menu {
        width: 100%;
        display: grid;
        border: none;
        nav {
            margin-left: 0;
            display: grid;
            grid-template-columns: 1fr;
            border-top: 1px solid #EBEBEB;
            justify-content: center;
            text-align: center;
            .a,
            .active {
                font-family: 'Gotham Pro Light';
                font-size: 24px;
                margin: 40px 0 0 0;
                padding-bottom: 40px;
                border-bottom: 1px solid #EBEBEB;
            }
        }
    }
    .header-lang {
        grid-row: 3;
    }
    .header-info {
        border-left: none;
        border-right: 1px solid #F2F2F2;
        width: 380px;
        height: 72px;
        >div {
            >p {
                font-size: 12px;
            }
            >span {
                font-size: 14px;
            }
        }
    }
    .burger_btn {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-area: burger;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        grid-row: 1;
        grid-column: 3;
        transition: all .5s ease-in-out;
        >span {
            font-family: 'Gotham Pro';
            font-size: 12px;
            line-height: 160%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }
    .burger {
        width: 24px;
        margin-left: 8px;
        height: 1.5px;
        background: #000;
        transition: all .5s ease-in-out;
    }
    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 1.5px;
        background: #000;
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-8px);
    }
    .burger::after {
        transform: translateY(8px);
    }
    .hidden_nav {
        position: absolute;
        z-index: 2;
        background: white;
        margin-top: 72px;
        display: grid;
        grid-template-columns: 282px;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
        padding: 15px 0;
        width: 100%;
        left: 0;
        height: calc(100vh - 72px);
        align-items: center;
        justify-content: center;
        text-align: center;
        >div:nth-child(1) {
            height: 600px;
            margin-top: 10vh;
            >p:nth-child(1) {
                font-family: 'Gotham Pro Light';
                font-size: 64px;
                line-height: 61px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #F0F0F0;
                margin: 0px 31px 80px 31px;
            }
        }
        >div:nth-child(2) {
            position: relative;
            bottom: 10vh;
        }
    }
    .hidden_nav.enter {
        opacity: 0;
        transform: translateX(50%);
    }
    .hidden_nav.enter-done {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 400ms, transform 400ms;
    }
    .hidden_nav.exit {
        opacity: 1;
    }
    .hidden_nav.exit-active {
        opacity: 0;
        transform: translateX(50%);
        transition: opacity 400ms, transform 400ms;
    }
    @keyframes rightmove {
        0% {
            -webkit-transform: translateX(+50%);
            transform: translateX(+50%);
        }
        to {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    .header-lang {
        padding: 0;
        text-align: center;
        margin-top: 63px;
        p {
            font-family: 'Gotham Pro Light';
            font-size: 16px;
        }
        div {
            margin: 0 auto;
            width: 116px;
            span {
                font-size: 24px;
            }
        }
    }
    //animation burger
    .burger_btn.open {
        .burger {
            transform: translateX(-5px);
            background: transparent;
            box-shadow: none;
        }
    }
    .burger_btn.open {
        .burger::before {
            transform: rotate(45deg) translate(5px, -5px);
        }
    }
    .burger_btn.open {
        .burger::after {
            transform: rotate(-45deg) translate(5px, 5px);
        }
    }
}

@media only screen and (max-width: 767px) {
    .desktop-menu {
        display: none;
    }
    .header-wrapper {
        z-index: 2;
        height: 53px;
    }
    .header-inside {
        grid-template-columns: repeat(2, auto);
    }
    .header-info {
        display: none;
        height: 72px;
    }
    .header-logo-block {
        width: auto;
        >a {
            >div {
                width: 74px;
                height: 27px;
                >svg {
                    height: 27px;
                    width: 74px;
                }
            }
        }
    }
    .hidden-menu {
        display: block;
    }
    .header-menu {
        display: grid;
        grid-template-columns: 282px;
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 0px;
        border: none;
        margin: 0 auto;
        nav {
            margin-left: 0;
            display: grid;
            grid-template-columns: 1fr;
            border-top: 1px solid #EBEBEB;
            justify-content: center;
            text-align: center;
            .a,
            .active {
                font-family: 'Gotham Pro Light';
                font-size: 20px;
                margin: 24px 0 0 0;
                padding-bottom: 24px;
                border-bottom: 1px solid #EBEBEB;
            }
        }
    }
    .header-lang {
        grid-row: 3;
    }
    .header-info {
        border-left: none;
        border-right: 1px solid #F2F2F2;
    }
    .burger_btn {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-area: burger;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        grid-row: 1;
        grid-column: 3;
        transition: all .5s ease-in-out;
        >span {
            font-family: 'Gotham Pro';
            font-size: 10px;
            line-height: 160%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }
    .burger {
        width: 18px;
        margin-left: 8px;
        height: 1.5px;
        background: #000;
        transition: all .5s ease-in-out;
    }
    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 1.5px;
        background: #000;
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-8px);
    }
    .burger::after {
        transform: translateY(8px);
    }
    .hidden_nav {
        margin-top: 53px;
        position: absolute;
        z-index: 2;
        background: white;
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px 0;
        height: calc(100vh - 53px);
        width: 100%;
        // height: 660px;
        right: 0vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        >div:nth-child(1) {
            display: grid;
            justify-content: center;
            height: auto;
            margin-top: 2vh;
            a {
                text-decoration: none;
                color: #000;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.05em;
            }
            >p:nth-child(1) {
                font-family: 'Gotham Pro Light';
                font-size: 24px;
                line-height: 61px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #F0F0F0;
                margin: 0 0 24px 0;
            }
        }
        >div:nth-child(2) {
            position: relative;
            bottom: 10vh;
        }
    }
    .hidden_nav.enter {
        opacity: 0;
        transform: translateX(50%);
    }
    .hidden_nav.enter-done {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 400ms, transform 400ms;
    }
    .hidden_nav.exit {
        opacity: 1;
    }
    .hidden_nav.exit-active {
        opacity: 0;
        transform: translateX(50%);
        transition: opacity 400ms, transform 400ms;
    }
    .header-lang {
        padding: 0;
        text-align: center;
        margin-top: 63px;
        p {
            font-family: 'Gotham Pro Light';
            font-size: 16px;
        }
        div {
            margin: 0 auto;
            width: 116px;
            span {
                font-size: 20px;
            }
        }
    }
    //animation burger
    .burger_btn.open {
        .burger {
            transform: translateX(-5px);
            background: transparent;
            box-shadow: none;
        }
    }
    .burger_btn.open {
        .burger::before {
            transform: rotate(45deg) translate(5px, -5px);
        }
    }
    .burger_btn.open {
        .burger::after {
            transform: rotate(-45deg) translate(5px, 5px);
        }
    }
}